
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#captura {
    background-color: red;
}
html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
    background: #dedede;
    /* display: flex;
    align-items: center;
    height: 100vh; */
}
main {
    width: 100%;
    height: auto;
    min-width: 320px;
    max-width: 900px;
    /* margin: 0 auto; */
    display: flex;
    align-items: center;
    height: 100vh;
}
.gameboard {
    /* height: 100vh;
    width: 100vh; */
    height: 100%;
    width: 100%;
    border-radius: 100px;
    overflow: hidden;
    margin: 0 auto;
    max-height: 60vh;
    max-width: 60vh;
    min-height: 300px;
    min-width: 300px;
    padding: 20px;
    /* border: 1px solid black; */
    /* background-color: #eee; */
    box-shadow:  1px 3px 5px 0px rgba(0,0,0,1),
    0px 7px 10px 0px rgba(0,0,0,1),
    inset 0px 8px 5px 0px rgba(250, 250, 250, .2),
    inset 0px -1px 5px 0px rgba(250, 250, 250, .2);
}

.color {
    width: 50%;
    height: 50%;
    display: inline-block;
}

.left {
    float: left;
}

.right {
    float: left;
}

.amarillo {/*.amarillo*/
    background-color: #ab9e2c;
    border-radius:  0 0 100% 0;
    box-shadow: inset 5px 10px 4px 0px rgba(250, 250, 250, .2),
    inset -8px -5px 4px 0px rgba(250, 250, 250, .2);
    border-radius: 100%;
}

.amarillo.light {
    background-color: #ffed00;
    border-radius:  100%;
    box-shadow: inset 5px -10px 15px 0px #cfc112,
    inset -8px 5px 4px 0px #cfc112,
    0px 0px 15px 10px #e8da26,
    0px 0px 2px 6px #e2d966;
}

.azul {/*.azul*/
    background-color: #2a8fbd;
    border-radius: 100%;
    box-shadow: inset 5px -10px 4px 0px rgba(250, 250, 250, .2),
    inset -4px 8px 4px 0px rgba(250, 250, 250, .2);
}

.azul.light {
    background-color: #397fc0;
    border-radius: 100%;
    box-shadow: inset -5px -10px 15px 0px #0a62b3,
    inset 8px 5px 4px 0px #0a62b3,
    0px 0px 15px 10px #6caae2,
    0px 0px 2px 6px #2e8be0;
}

.rojo {/*.rojo*/
    background-color: #c72b20;
    border-radius: 100%;
    box-shadow: inset -5px 10px 4px 0px rgba(250, 250, 250, .2),
    inset 8px -5px 4px 0px rgba(250, 250, 250, .2),
    inset 0px -2px 4px 0px rgba(250, 250, 250, .2);
}

.rojo.light {
    background-color: #fd4c3f;
    border-radius: 100%;
    box-shadow: inset -5px 10px 15px 0px #8e150c,
    inset 8px -5px 4px 0px #8e150c,
    0px 0px 15px 10px #eb867f,
    0px 0px 2px 6px #cb1c10;
}

.verde {
    background-color: #156c39;
    border-radius: 100%;
    box-shadow: inset 5px 10px 4px 0px rgba(250, 250, 250, .2),
    inset -8px -5px 4px 0px rgba(250, 250, 250, .2);
}

.verde.light {
    background-color: #05ff00;
    border-radius: 100%;
    box-shadow: inset -8px -10px 15px 0px #18ac15,
    inset 8px 5px 4px 0px #18ac15,
    0px 0px 15px 10px #5af157,
    0px 0px 8px 6px #84e782;
}


    /* .btn-start {
    width: 400px;
    height: 100px;
    background: #ecf0f1;
    color: #2c3e50;
    font-size: 2.5rem;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 200px);
    } */


.hide {
    display: none;
}

@font-face {
    font-family: 'icomoon';
    src:  url('./fonts/icomoon.eot?isb3ud');
    src:  url('./fonts/icomoon.eot?isb3ud#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?isb3ud') format('truetype'),
    url('./fonts/icomoon.woff?isb3ud') format('woff'),
    url('./fonts/icomoon.svg?isb3ud#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}